{% extends 'base.html.twig' %}

{% block title %}Bienvenue
{% endblock %}

{% block body %}
	<h1 class="my-3"3>Yoga Life : accessoires de yoga</h1>
	<div class="container">
		<div class="mt-3 row gx-2">
			{% for produit in produits %}
				<div class="col-3 md-4 mb-3">
					<div class="card border-dark mb-3">
						<div class="card-header text-center"><img src="{{ asset('uploads/photos/' ~ produit.photo) }}" alt="" class="img-fluid" style="height: 200px;"></div>
						<div class="card-body">
							<h4 class="card-title text-center">{{ produit.titre }}</h4>
							<p class="card-text text-end">{{ produit.prix }}
								€</p>
							<div
								class="text-center">{# <a href="{{ path('cart_add', {id: produit.id}) }}" class="btn btn-secondary ">Ajouter au panier</a> #}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
