{% extends 'base.html.twig' %}

{% block title %}BackOffice{% endblock %}

{% block body %}
    <div class="container">
    
        <h1 class="display-4 text-center my-4">BACK-OFFICE</h1>
        <p class="text-center">Bienvenue sur votre back-office</p>
        <div class="text-center">
           <a href="{{ path('admin_membre')}}" class="col-md-6-offset-md-3 btn btn-dark mb-2">GESTION DES MEMBRES</a>
        <a href="{{ path('gestion_produit')}}" class="col-md-6-offset-md-3 btn btn-info mb-2">GESTION DES PRODUITS</a>
        <a href="{{ path('app_admin_commande')}}" class="col-md-6-offset-md-3 btn btn-secondary mb-2">GESTION DES COMMANDES</a>
        </div>  
    </div>
{% endblock %}
